<%= render :partial => "nav" %>

<h2>Edit password</h2>

<%= labelled_form_for @vault, :url => project_vaults_path + '/' + @vault.id.to_s, :html => {:id => 'vault-form'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= submit_tag 'Update' %>
<% end %>
