table.vault {
    table-layout: fixed;
}

.vault-password {
    display: none;
}

.a-left {
    text-align: left !important;
}

.sitem {
    display: block;
    text-align: left;
    margin: 3px 0;
    padding: 3px 0 3px 20px;
}

.sitem:hover {
    background-color: #aaffaa;
}

span.sitem a.icon {
    display: none;
}

span.sitem a.icon-edit {
    margin-left: 5px;
}

.RDP-sitem {
    background: url(../images/rdp.png) no-repeat 0 0;
}

.Web-sitem {
    background: url(../images/web.png) no-repeat 0 0;
}

.TeamViewer-sitem {
    background: url(../images/teamviewer.png) no-repeat 0 0;
}

.Other-sitem {
    background: url(../images/host.png) no-repeat 0 0;
}

.add-sitem {
    display: block;
    text-align: right;
}