table.vault {
    /*table-layout: fixed;*/
}

table.items {
    border: none;
    width: 100%;
}

table.items td {
    border: none !important;
}

.vault-password {
    display: none;
}

.a-left {
    text-align: left !important;
}

.sitem {
    display: block;
    text-align: left;
    margin: 3px 0;
    padding: 3px 0 3px 20px;
}

.sitem-actions {
    display: block;
    margin: 3px 0;
    padding: 3px 0 3px 20px;
}

.sitem:hover {
}

table.items tr:hover {
    background-color: #aaffaa !important;
}

span.sitem a.icon {
    display: none;
}

span.sitem a.icon-edit {
    margin-left: 5px;
}

.RDP-sitem {
    background: url(../images/rdp.png) no-repeat 0 0;
}

.HTTP-sitem, .HTTPS-sitem {
    background: url(../images/web.png) no-repeat 0 0;
}

.TeamViewer-sitem {
    background: url(../images/teamviewer.png) no-repeat 0 0;
}

.Other-sitem {
    background: url(../images/host.png) no-repeat 0 0;
}

.add-sitem {
    display: block;
    text-align: right;
}